{% extends 'dbc_app/base.html' %}

{% block content %}
  <div class="container my-5">
    <h2 class="oswald">{{ seccion_titulo }}</h2>

    {% if posts %}
      {% for post in posts %}
        <div class="mb-4 p-3 border rounded bg-white text-start">
          <h4 class="mb-1">
            <a href="{% url 'dbc_app:ver_post' post.seccion_id post.filename %}" class="text-decoration-none">
              {{ post.title|upper }}
            </a>
          </h4>
          {% if post.summary %}
            <p class="text-muted">{{ post.summary }}</p>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <p class="text-muted">No hay archivos Markdown en esta sección.</p>
    {% endif %}
  </div>
{% endblock %}
