{% extends 'dbc_app/base.html' %}
{% load static %}

{% block content %}
  <div class="container my-5">
    <h2 class="oswald">{{ seccion_titulo }}</h2>

    {% if posts %}
      <ul class="link-list mt-4">
        {% for post in posts %}
          <li class="mb-3">
            <a href="{% url 'dbc_app:ver_post' post.seccion_id post.filename %}" style="color: black; text-decoration: underline; font-weight: 500;">
              {{ post.title|upper }}
            </a>

            {% if post.summary %}
              <p class="text-muted mb-0">{{ post.summary }}</p>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-muted">No hay archivos Markdown en esta sección.</p>
    {% endif %}
  </div>
{% endblock %}
